body {
  background-color: #efefef;
  font-size: 14px;
  color: #333;
  margin: 0;
}

h1,h2,h3,h4,h5 {
  margin: 0 0 10px 0;
  padding: 0;
}

p {
  margin-top: 0;
}

.background {
  width: 920px;
  margin: 0 auto 0 auto;
  background-color: #fff;
}

.logo {
  text-align: center;
  padding-top: 30px;
  margin-bottom: 30px;
}

.navigation {
  width: 100%;
  background-color: black;
  padding: 15px 0;
}

.navigation li {
  display: inline-block;
  padding-left: 30px;
  text-align: center;
}

.navigation li a{
  color: white;
  text-decoration: none;
}

.left {
  width: 600px;
  float: left;
}

.left-contents {
  margin: 20px 20px;
}

.image {
  width: 150px;
  height: 150px;
  float: left;
}

.left-contents:after {
  clear: left;
  display: block;
  content: " ";
}

.left-text {
  float: left;
  padding: 0 10px;
}

.blog-title {
  color: skyblue;
  font-size: 18px;
  text-decoration: none;
}

.right {
  width: 300px;
  float: left;
}

.news {
  margin-top: 20px;
  border-bottom: 1px solid grey;
}

.right-contents {
  padding-top: 10px;
  padding-bottom: 10px;
}

.icon {
  width: 50px;
  height: 50px;
  float: left;
}

.right-text {
  float: left;
  padding: 0 10px;
}

.sample-blog-title {
  text-decoration: none;
  color: skyblue;
}

.right-contents:after {
  clear: left;
  display: block;
  content: " ";
}

main:after {
  clear: left;
  display: block;
  content: " ";
}

.copyright {
  text-align: center;
  width: 800px;
  padding-top: 20px;
  padding-bottom: 80px;
  border-top: 1px solid grey;
  margin: 20px auto 0 auto;
}